@import url(common.css);

/*****************************************************************
 Main section.
*****************************************************************/

main {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

h1 {
    margin-top: 10%;
}


/***********************************************************
 Container for options and help
***********************************************************/

.home-section {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
}

.home-section li {
    padding: 20px;
    padding-top: 40px;
}

#options {
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
}


/***********************************************************
 Option buttons and text
***********************************************************/

.button {
    padding: 10px;
}

#join-button {
    width: 100px;
}

#host-button {
    width: 210px;
}

input {
    text-align: center;
    border-radius: 25px;
}

#join-key {
    width: 100px;
    height: 35px;
}


/***********************************************************
 Help-dialog and button.
***********************************************************/

#help-dialog {
    padding: 10px;
    display: none;
    width: 40%;
    background-color: rgb(255, 238, 218, 0.6);
    align-self: flex-start;
    color: black;
    border-radius: 25px;
}

.close-button {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

@media screen and (max-width:990px) {
    .home-section {
        flex-wrap: wrap;
    }
    #options {
        flex-basis: 100%;
    }
}