@import url(common.css);
#help {
    cursor: pointer;
    cursor: hand
}


/*****************************************************************
 Main section.
*****************************************************************/

#main {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-flow: wrap;
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-flow: wrap;
    padding: 50px;
}

#resign {
    align-self: flex-end;
}


/*****************************************************************
 Turns, proximity bar
*****************************************************************/

.proximity-bar {
    display: flex;
    flex-wrap: nowrap;
}

.proximity-bar>figure {
    width: 50px;
    margin: 2.5px;
    text-align: center;
    line-height: 95px;
    font-size: 30px;
}

.clarity {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    background: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
}

.clarity li {
    content: " ";
    width: 50px;
    border: 1px solid black;
}

.board {
    border-spacing: 1;
    border-collapse: collapse;
    display: inline;
    position: relative;
}

#meteor {
    position: relative;
    transition: left 1s ease-out, top 1s;
}

#cave {
    position: absolute;
    top: 5px;
}


/*****************************************************************
 Board
*****************************************************************/

.player {
    display: inline;
}

#board-body {
    flex-grow: 1;
    border-collapse: collapse;
    position: relative;
}

.board td {
    width: 100px;
    height: 55px;
    max-height: 100px;
    min-width: 100px;
    min-height: 55px;
}

.board tr {
    max-height: 10px;
}

.board .red {
    background: red;
}

.board .yellow {
    background: yellow;
}

.board .green {
    background: green;
}

.board .blue {
    background: blue;
}

.board .purple {
    background: purple;
}

.board .orange {
    background: orange;
}


/*****************************************************************
 Player Box/ turn, hand of cards and players
*****************************************************************/

#player-box {
    background: rgb(255, 238, 218, 0.6);
    border-radius: 25px;
    border: 2px outset gray;
    float: left;
    line-height: 24px;
    margin-top: 5px;
    padding: 5px;
    position: relative;
}

th {
    border: 1px solid black;
}

#hand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hand input:hover {
    opacity: 0.5
}

button {
    padding: 10px;
    border-radius: 25px;
}

#pass {
    padding: 5px;
}


/* The Modal (background) */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}