@import url(common.css);
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

#wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
}

.barra-proximidad {
    display: flex;
    flex-wrap: nowrap;
}

.barra-proximidad>figure {
    width: 50px;
    margin: 2.5px;
    text-align: center;
    line-height: 95px;
    font-size: 30px;
}

.barra-proximidad label {
    color: cornflowerblue;
    font-size: 20px;
    margin-left: 50px;
}

.claridad {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.claridad li {
    content: " ";
    width: 50px;
}

.cl1 {
    background: #171717;
}

.cl2 {
    background: #1a1741;
}

.cl3 {
    background: #012a4a;
}

.cl4 {
    background: #013a63;
}

.cl5 {
    background: #01497c;
}

.cl6 {
    background: #014f86;
}

.cl7 {
    background: #2a6f97;
}

.cl8 {
    background: #2c7da0;
}

.cl9 {
    background: #468faf;
}

.cl10 {
    background: #61a5c2;
}

.cl11 {
    background: #89c2d9;
}

.cl12 {
    background: #a9d6e5;
}

.cl13 {
    background: #C0E1EC;
}

.cl14 {
    background: #E0F0F6;
}

.board {
    border-spacing: 0;
    border-collapse: collapse;
}

.board td {
    width: 100px;
    height: 50px;
}

.board .begin {
    background: #FF6978;
    height: 50px;
}

.board .red {
    background: red;
}

.board .yellow {
    background: yellow;
}

.board .green {
    background: green;
}

.board .blue {
    background: blue;
}

.board .purple {
    background: purple;
}

.board .orange {
    background: orange;
}

#player-box {
    background-color: #FFF;
    border: 2px outset gray;
    color: maroon;
    float: left;
    height: 500px;
    line-height: 24px;
    margin-top: 5px;
    padding: 5px;
    position: relative;
    min-width: 200px;
    max-width: 500px;
}

#hand {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#hand input:hover {
    opacity: 0.5
}