#wrapper {
    width: 100%;
    min-width: 985px;
    float: left
}

.hidden {
    visibility: hidden
}

#board {
    background: url(../images/marble.jpg);
    border: 4px outset gray;
    float: left;
    width: 624px;
    height: 624px;
    position: relative;
    margin: 5px;
    padding: 7px 0 0 7px
}

#board .label {
    bottom: 1px;
    color: #222222;
    font-size: 0.7em;
    left: 2px;
    position: absolute;
    z-index: 100;
    text-shadow: -1px -1px 0px #e0e0e0;
    filter: dropshadow(color=#e0e0e0, offx=-1, offy=-1)
}

#board ul {
    height: 77px;
    width: 616px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    color: #222
}

#board ul:first-child div:hover,
#board ul:first-child #cover form:hover,
#cover #board ul:first-child form:hover {
    margin-top: 0
}

#board ul:nth-child(odd) li:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.5)
}

#board ul:nth-child(odd) li:nth-child(even) .label {
    color: #C0C0C0;
    text-shadow: 1px 1px 0px #333;
    filter: dropshadow(color=#ccc, offx=-1, offy=-1)
}

#board ul:nth-child(even) li:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.5)
}

#board ul:nth-child(even) li:nth-child(odd) .label {
    color: #C0C0C0;
    text-shadow: 1px 1px 0px #333;
    filter: dropshadow(color=#ccc, offx=-1, offy=-1)
}

#board ul .selected {
    border: 2px solid darkblue;
    height: 73px;
    width: 73px;
    z-index: 5
}

#board ul .legal {
    background-color: rgba(0, 0, 200, 0.6) !important
}

#board ul .legal:hover {
    background-color: rgba(0, 100, 200, 0.6) !important;
    border: 1px solid green
}

#board ul .threat {
    background-color: rgba(200, 0, 0, 0.6) !important
}

#board ul .attack {
    background-color: rgba(0, 200, 0, 0.6) !important
}

#board ul li {
    display: inline;
    float: left;
    position: relative;
    height: 75px;
    width: 75px;
    border: 1px solid silver
}

#board ul li:first-child:hover {
    margin-left: 0
}

#board ul li:not(.selected) img.active:hover {
    border: 1px solid green;
    left: -1px;
    top: -1px
}

#board ul li img {
    display: block;
    position: relative
}

#cover {
    position: absolute;
    top: 7px;
    left: 7px;
    height: 616px;
    width: 616px;
    background-color: rgba(50, 50, 50, 0.5);
    z-index: 9000
}

#cover>div,
#cover>form {
    -moz-box-shadow: #fff 0px 0px 20px;
    -webkit-box-shadow: #fff 0px 0px 20px;
    -o-box-shadow: #fff 0px 0px 20px;
    box-shadow: #fff 0px 0px 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    color: #CCC;
    background: #333;
    margin: 0 auto;
    padding: 5% 0 15% 0;
    position: relative;
    text-align: center;
    top: 157px;
    width: 330px
}

#cover>div h1,
#cover>form h1 {
    font-size: 1.5em;
    line-height: 2em;
}

#cover>div h2,
#cover>form h2 {
    font-size: 1.2em;
    letter-spacing: 2px;
    margin-bottom: 0.5em
}

#cover form label {
    margin-right: 5px
}

#cover form button {
    position: relative;
    top: 1em
}

#prison {
    float: left;
    height: 624px;
    width: 70px;
    display: block
}

#prison ul li {
    display: block;
    height: 50px
}

#prison ul li[rel^='white'] {
    color: white
}

#prison ul li span {
    position: relative;
    bottom: 20px;
    left: -7px;
    z-index: 5
}