@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    height: 100vh;
}


body {
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

header {
    order: 1;
    flex: 0 1 auto;
    align-self: auto;
}

main {
    order: 2;
    flex: 1 1 auto;
    align-self: auto;
}


footer {
    order: 3;
    flex: 0 1 auto;
    align-self: auto;
    height: 2em;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.966);
    text-align: center;
    position: relative;
    bottom: 0px;
}

h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: rgba(240, 240, 240, 0.966);
    overflow: hidden;
}

.navBar a {
    color: #000;
    float: left;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

button {
    font-family: 'Open Sans', sans-serif;
}