@import url(common.css);

.home-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: wrap;
}

#options {
    width: 57%;
    text-align: right;
}

input {
    text-align: center;
}

.home-section li {
    padding: 10px;
}

#join-key {
    width: 182px;
}

#joinText {
    text-align: center;
}

.home-section h1 {
    width: 58%;
    text-align: right;
}

.button {
    width: 5cm;
    padding: 5px;
}

#help-dialog {
    display: block;
    width: 30%;
    background-color: rgba(240, 240, 240, 0.966);
    align-self: flex-start;
}

.close-button {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}