body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#Home-buttons {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#Home-buttons h1 {
    display: flex;
    justify-content: center;
}

#Home-buttons li {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#Home-buttons li button,
li input {
    font-family: 'Brush Script MT', cursive;
    width: 100px;
}

.Join {
    display: none;
}

.Help-Dialog {
    display: none;
    justify-content: flex-end;
    align-items: flex-end;
}