@import url(common.css);

/*****************************************************************
 Main section.
*****************************************************************/

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}


/***********************************************************
 Container for options and help
***********************************************************/

.home-section {
    display: flex;
    flex-flow: nowrap;
    justify-content: space-evenly;
}

.home-section li {
    padding: 20px;
    padding-top: 40px;
}

#options {
    display: flex;
    flex-direction: column;
    flex-flow: nowrap;
}


/***********************************************************
 Option buttons and text
***********************************************************/

.button {
    padding: 10px;
}

#join-button {
    width: 100px;
}

#host-button {
    width: 210px;
}

input {
    text-align: center;
}

#join-key {
    width: 100px;
    height: 35px;
}


/***********************************************************
 Help-dialog and button.
***********************************************************/

#help-dialog {
    display: none;
    width: 30%;
    background-color: rgba(240, 240, 240, 0.966);
    align-self: flex-start;
}

.close-button {
    margin-left: 15px;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}