/***********************************************************
 Waiting room article.
***********************************************************/
#waiting-room-article {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: center;
}

#waiting-room-title {
  flex: 0 1 auto;
  align-self: center;
}

/***********************************************************
 Main container for settings and players list
***********************************************************/
#container-for-settings-and-players-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

/***********************************************************
 Container for settings
***********************************************************/
#container-for-game-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 100px;
}

.vertical-line {
  border-left: 2px solid black;
  height: 200px;
  display: flex;
  left: 50%;
  margin-left: -3px;
  top: 0;
  padding: 10px 10px;
  align-self: center;
}

/***********************************************************
 Container for players
***********************************************************/

#container-for-players-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
}

/***********************************************************
 Container for buttons
***********************************************************/

#waiting-room-buttons {
  display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
}

/***********************************************************
 Buttons
***********************************************************/
.button {
  font-size: 10px;
}

.avatar-button {
  vertical-align:center;
  width: 70px;
  background-color: transparent;
  border: none;
}

.avatar-button img {
  align-self: center;
}

#start-match {
  margin-right: 100px;
}
