#waiting-room-main h2{
  display: flex;
  justify-content: center;
}

#waiting-room-article {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#game-settings {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 20px;
}

.vertical-line {
  border-left: 2px solid black;
  height: 200px;
  display: flex;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

#players-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

#players-list ul {
  padding-bottom: 20px;
}

#game-settings ul {
  padding-bottom: 20px;
}

.button {
  font-size: 10px;
}

.player-identity {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.player-identity img {
  padding-right: 30px;
}

.avatar-button {
  vertical-align:center;
  width: 70px;
  background-color: transparent;
  border: none;
}

.avatar-button img {
  align-self: center;
}